@import "../../../main_styles.scss";

.root {
  display: flex;
  width: 100%;
  position: relative;

  &:hover {
    .x-icon-button {
      opacity: 1;
      transform: scale(1);
    }
  }

  .x-icon-button {
    position: absolute;
    height: 2.125rem;
    width: 2.125rem;
    border-radius: 50%;
    background: $dark;
    background-image: url("../../../assets/delete_icon.svg");
    background-repeat: no-repeat;
    background-position: center center;
    right: -1.063rem; //half of the width
    top: -1.063rem; //half of the height

    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
    transform: scale(0);
    opacity: 0;

    cursor: pointer;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.budget-item {
  display: flex;
  width: 100%;
  background-color: $light-grey;
  padding: 0.625rem;
  border-radius: 0.313rem;
  cursor: pointer;

  transition: background-color 0.2s ease-out;
  &:hover {
    background-color: darken($color: $light-grey, $amount: 2%);
  }

  .description {
    display: flex;
    flex-grow: 1;
    font-size: 1.125rem;
    margin-left: 0.313rem;

    align-items: center;
  }

  .amount {
    padding: 0.313rem;
    border-radius: 0.188rem;
  }
}

.income {
  p {
    color: $green;
  }

  .amount {
    background-color: $light-green;
  }
}

.expense {
  p {
    color: $red;
  }

  .amount {
    background-color: $light-red;
  }
}
